.user-table {
  width: 80%;
  margin: 0 auto;
  border-collapse: collapse;
}

.user-table th,
.user-table td {
  padding: 12px;
  border: 1px solid #ddd;
  text-align: left;
}

.user-table th {
  background-color: #f2f2f2;
}

.user-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.user-table tr:hover {
  background-color: #ddd;
}

.change-role-btn,
.delete-user-btn {
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.user-list {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.change-role-btn {
  background-color: #007bff;
  color: #fff;
}

.delete-user-btn {
  background-color: #dc3545;
  color: #fff;
}

.change-role-btn:hover,
.delete-user-btn:hover {
  background-color: #0056b3;
}

.inactive-users-container {
  display: flex;
  justify-content: center;
  padding: 30px;
}

.inactive-users {
  background-color: rgb(235, 42, 42); /* Color de fondo */
  border: none; /* Sin borde */
  color: white; /* Color del texto */
  padding: 10px 20px; /* Espaciado interno */
  text-align: center; /* Alineación del texto */
  text-decoration: none; /* Sin subrayado */
  display: inline-block; /* Mostrar como elemento en línea */
  font-size: 16px; /* Tamaño de la fuente */
  margin: 4px 2px; /* Margen */
  cursor: pointer; /* Cambiar cursor al pasar sobre él */
  border-radius: 5px; /* Bordes redondeados */
  transition: background-color 0.3s; /* Transición suave del color de fondo */
}

.inactive-users:hover {
  background-color: rgb(116, 9, 9); /* Cambiar color de fondo al pasar el cursor */
}
