.container-productList {
  text-align: center;
  margin-bottom: 20px;
}

.product-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 70%;
  margin: 0 auto;
  align-items: center;
}

.product-card {
  width: calc(25% - 20px); /* Calcular el ancho de cada tarjeta (25% del ancho total menos el espacio entre ellas) */
  margin-bottom: 20px;
  border: none; /* Removido el borde para un aspecto más limpio */
  border-radius: 10px; /* Aumentado el radio de borde para que los cards sean más redondeados */
  padding: 20px; /* Aumentado el padding para más espacio interior */
  transition: box-shadow 0.3s ease; /* Agregada una transición suave para el efecto de relieve */
}

.product-card:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Agregado un efecto de relieve al pasar el mouse por encima */
}

.product-thumbnail img {
  max-width: 100%;
  height: auto;
  border-radius: 10px; /* Aumentado el radio de borde para las imágenes */
}

.product-title {
  font-size: 1.2em;
  margin-top: 10px; /* Aumentado el margen superior para más espacio */
}

.product-description {
  margin-top: 5px;
}

.product-price {
  font-weight: bold;
  margin-top: 5px;
}

.product-code,
.product-stock {
  margin-top: 5px;
}

.product-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.product-buttons button {
  font-size: 12px;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 45%; /* Ajustar el ancho de los botones en dispositivos pequeños */
}

.update-product-btn {
  background-color: #4CAF50;
  color: white;
}

.update-product-btn:hover {
  background-color: #45a049;
}

.delete-product-btn {
  background-color: #f44336;
  color: white;
}

.delete-product-btn:hover {
  background-color: #d32f2f;
}

@media screen and (max-width: 768px) {
  .product-container {
    width: 90%;
  }
  
  .product-card {
    width: calc(50% - 20px); /* Calcular el ancho de cada tarjeta en dispositivos medianos */
  }
}

@media screen and (max-width: 480px) {
  .product-card {
    width: 100%; /* Hacer que las tarjetas ocupen todo el ancho disponible en pantallas muy pequeñas */
    padding: 15px; /* Reducir el padding para dispositivos pequeños */
  }
  
  .product-buttons {
    flex-direction: column; /* Colocar los botones en columnas en pantallas muy pequeñas */
    align-items: center; /* Centrar los botones en el eje X en pantallas muy pequeñas */
  }
  
  .product-buttons button {
    width: 100%; /* Hacer que los botones ocupen todo el ancho disponible en pantallas muy pequeñas */
  }
}
